// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.image-sidebar {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;

    img {
        max-width:100%;
    }
}

.image-sidebar > *:nth-child(1) {
    flex: 1 1 65%;
    min-width: 30ch;
}

.image-sidebar > *:nth-child(2) {
    flex: 1 1 30%;
    min-width: 15ch;
}

.nav-bar-banner {
    background-color: #ebfff5;
}

.services-background {
    background-color: #e5e9fc;
    font-size: x-large;
    font-weight: bold;
}

.concierge-background {
    background-color: #fff3eb;
    font-size: x-large;
    font-weight: bold;
}

.faq-layout {
    display: flex;
    flex-wrap: wrap;
}

.faq-layout > *:nth-child(1) {
    flex: 1 1 40%;
    min-width: 15ch;
}

.faq-layout > *:nth-child(2) {
    flex: 1 1 60%;
    min-width: 30ch;
}

.faq-background {
    background-color: #ebfaff;
    font-size: x-large;
    font-weight: bold;
}

.social > div {
    margin: auto 5px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}



